<div class="container div-space">
  <h3>{{ question.question }}</h3>

  <div class="list-group">
    <a
      *ngFor="let answer of question.answers"
      class="answer-item list-group-item list-group-item-action"
      >{{ answer.answer }}
      <fa-icon
        (click)="deleteAnswer(answer.id)"
        [ngStyle]="{ color: 'red' }"
        [icon]="faTimes"
      ></fa-icon>
    </a>
  </div>

  <div style="margin-top: 10px; margin-bottom: 10px">
    <input
      type="text"
      [(ngModel)]="answerText"
      placeholder="Enter your Answer"
    />
  </div>

  <app-button
    btnClass="btn btn-primary"
    btnLabel="Save"
    (btnClick)="answerQuestion(question.id)"
  ></app-button>
</div>
