<div class="container div-space">
  <table class="table table-hover" style="width: 80%">
    <thead>
      <tr>
        <th>#</th>
        <th>Question</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{ question.id }}</td>
        <td>{{ question.question }}</td>
        <td>
          <app-button
            btnClass="btn btn-primary btn-space"
            btnLabel="Details"
            [routerLink]="['/question-detail', question.id]"
          >
          </app-button>

          <app-button
            btnClass="btn btn-danger"
            btnLabel="Delete"
            (btnClick)="deleteQuestion(question)"
          ></app-button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-button
    btnClass="btn btn-primary"
    btnLabel="New Question"
    (btnClick)="addQuestion()"
  ></app-button>
</div>
