<div class="container div-space">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <pre>Form values: {{ addForm?.value | json }}</pre>
          <pre>Form valid: {{ addForm?.valid | json }}</pre>

          <div class="form-group">
            <label for="question">Question:</label>
            <input
              type="text"
              formControlName="question"
              placeholder="What are you thankful for?"
              name="question"
              class="form-control"
              id="question"
            />
          </div>
          <br />
          <input
            [disabled]="!addForm.valid"
            class="btn btn-primary"
            value="Add"
            type="submit"
          />
        </form>
      </div>
    </div>
  </div>
</div>
